---
import BaseLayout from '../layouts/BaseLayout.astro';
const { pathname } = Astro.url;
---

<BaseLayout currentPath={pathname}>
	<div class="container pt-5">
		<div class="row">
			<div class="col-lg-8">
				<p>I work with paint, print, dye and code through a variety of processes, often exploring layering and the juxtaposition of elements as hybrids. I work intuitively, seeking a loose framework in which I can find improvisational expression through a range of therapeutic creative activities such as making calligraphic gestures, using gravity and evaporation, or ‘sampling’ and re-using my work as source material in digital processes.<p>

				<p>I seek to cultivate simplicity and calm by setting up strategies for working in harmony with materials and observing their transformation. A common element in my work is the use of water as a metaphor of potential, change and renewal.</p>

				<p>My most recent work with dyes address grief, play, ideas of harmony (wu wei and wabi-sabi) and explore process as a form of catharsis</p>

				<p>I am interested in the synthesis between nature and technology, the relation of image to language and a connection between sonic metaphors and visual ones, such as echo or resonance. Ultimately art-making for me is a therapeutic and spiritual practice of enquiry and presence. I work at the nexus of trauma, neurophysiology, play and meditation.</p>
			</div>
		</div>
	</div>

	<div class="container pt-5">
		<div class="row">
			<div class="col-lg-8">
				<p>Contact me through <a href="https://www.instagram.com/yanwhiteart/">@yanwhiteart</a> or at yanwhite@gmail.com</p>
			</div>
		</div>
	</div>
</BaseLayout>